div{
  box-sizing: border-box;
  display: block;
  height: 100px;
  margin:10px;
  padding: 10px;
  width: 200px
}
.first , .third{
    background-color: #f7b617;
}
.second{
  background-color: #2b2b2b;
  color:white;
}
